

<!DOCTYPE html>
<html>

        <head><title>drop_down_list</title></head>
<body>
                <form role="form" action="/column" method="post">>
                        <label for="files"><strong>files</strong></label>
                        <select name="files">
                                <option value="trial.csv">trial.csv</option>
                                <option value="test.csv">dummy1.csv</option>
                                <option value="assignment.csv">dummy2.csv</option>
                                <option value="assesment.csv">dummy3.csv</option>
                        </select>
                                <label for="columns"><strong> Columns</strong></label>
                                <input type="checkbox" name="column1" value="index">
                                <label for="column1">index</label>
                                <input type="checkbox" name="column1" value="age_group">
                                <label for="column1">age_group</label>
                                <input type="checkbox" name="column1" value="population">
                                <label for="column2">population</label><br><br>
                                
                                <input type="submit" value="Submit">  
                </form>
      
</body>
                            
</html>